
<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Puppy</title>
</head>
<body>
  <h1>Your Puppy</h1>
  <p>Puppy Name: <%= @puppy.name %></p>
  <p>Puppy Breed: <%= @puppy.breed %></p>
  <p>Puppy Age: <%= @puppy.age %></p>
</body>
</html>
